body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  padding: 5px 10px;
  background-color: #0077ff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 10px;
}

li button:hover {
  background-color: #005ae6;
}

li span {
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

label {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

input {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f2f2f2;
  transition: all 0.3s ease;
}

input:focus,
input:active {
  outline: none;
  box-shadow: 0 0 5px #3f51b5;
  background-color: #e0e0e0;
}

button[type="submit"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #0077ff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #005ae6;
}